<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-UA-Compatible" content="ie=edge">
  <title></title>
  {% load static %}
  <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'belt/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'belt/css/bootstrap-4.0.0-beta-dist/css/bootstrap.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
<header>
<h2>Welcome {{ user.name}}</h2>
  <p><a href="{% url 'review:add' %}">Add book and review</a> | <a href="{% url 'login:logout' %}">Logout</a></p>
           
        </header>
        <div class="main">
            <h2>Recent Book Reviews:</h2>
            {% for review in recent %}
            <div class="review">
                <h2><a href="/books/{{review.book.id}}">{{ review.book.title }}</a></h2>
                <p>Rating: {{ review.rating }}</p>
                <p><a href="/books/users/{{review.reviewer.id}}">{{ review.reviewer.first_name}}</a> says: {{ review.review }}</p>
                <p>Posted on: {{ review.created_at }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="side">
            <h2>Other Books with Reviews:</h2>
            {% for review in more %}
            <div class="review">
                <h2><a href="/books/{{review.book.id}}">{{ review.book.title }}</a></h2>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
</div>
</body>
</html>