<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h2> Great Success! </h2>
  <p> {{email}} is added </p>
  <table>
    <thead>
      <tr>
        <th> id </th>
        <th> email </th>
        <th> date </th>
      </tr>
    </thead>
    <tbody>
      {% for email in all_emails %}
      <tr>
        <td> {{email ['id'] }}
        <td> {{email['email']}} </td>
        <td> {{email['created_at'] }} </td>
        <td> <a href="/remove/{{ email['id'] }}"> Remove </a></td>
      </tr> 
      {%endfor%}



    </tbody>
  </table>
  <br>
  <a href="/home" class ="home"> Go back to add another email </a>
</body>
</html>

            